<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  method ="post">
    {% csrf_token %}
<table align="center">
    <tr>
        <td>CarName:</td>
        <td><input type ="text" name="txtCarName" value="{{ data.car_name}}"></td>
    </tr>
    <tr>
        <td>CarCompany :</td>
        <td><input type ="text" name="txtCarCompany" value="{{ data.car_company}}"></td>
    </tr>
    <tr>
        <td>CarModel :</td>
        <td><input type ="text" name="txtCarModel" value="{{ data.car_model}}"></td>
    </tr>
    <tr>
        <td>CarPrice :</td>
        <td><input type ="number" name="txtCarPrice" value="{{ data.car_price}}"></td>
    </tr>
    <tr>
        <td>Fuel Type :</td>
        <td>
            <select name="ddlFuelType">
                <option selected>{{ data.fuel_type }}</option>
                <option>Petrol</option>
                <option>Diesel</option>
            </select>
        </td>
    </tr>
     <tr>
        <td><input type="submit" value="AddCar" name="btnsub"></td>
    </tr>
</table>
</form>

</body>
</html>